/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(fonts/BjAYBlHtW3CJxDcjzrnZCCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(fonts/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira ExtraCondensed Regular'), local('SairaExtraCondensed-Regular'), url(fonts/3XMbuc1UIdE_Bo4eJ-H3G50M7CckEjtJ2VMldUDu5nQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira ExtraCondensed Regular'), local('SairaExtraCondensed-Regular'), url(fonts/3XMbuc1UIdE_Bo4eJ-H3G8BvcTyoFVl2hWxSOgahpEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'), url(fonts/XVu3ZHO65MpX5FDLl4hwfYBOxq-SdAjgyLhcRyohGfsU24FapfJwyacJ6xNu5rm9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'), url(fonts/XVu3ZHO65MpX5FDLl4hwffHD1jZSi8KUxQcwKVvxv1r3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body {
	font-family: Inconsolata, monospace;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	}

.container {
	height:1000px;
	margin-top: 15em;
	margin: 15em auto;
	max-width:960px;
	width: 100%
}

.intro-section {
	margin-left: 10px;
}

h1 {
	display: inline-block;
	content:"";
	font-size: calc(22px + 2.5vw);
	font-weight: 600;
	height: 13px;
	margin-top: 10px;
}
h2 {
	font-size: calc(16px + 2.5vw);
	font-weight: 100;
}
p {
	font-family: Inconsolata, monospace;
	font-size: 16px;
	font-weight: 200;
}
p.intro-text {
	font-size: calc(16px + 0.6vw);
	line-height: 28px;
	font-weight: 200;
}
.categ {
	opacity:1.0;
}
.button {
	opacity:0.7;
}
.buttonText {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 1.4em;
	font-weight: 700;
/*	text-anchor: middle;
	transform-origin: 0% bottom;
	-ms-transform: rotate(-45deg); 
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
*/
}
.link {
	opacity: 0.7;
	stroke-width: 3px;
	fill: none;
}
.panel{
	margin: 0 0 50px 0;
	opacity:0.7;
	padding-left:15px;
	padding-right:10px;
	padding-top:15px;

}
.infoHeading {
	color: #ffffff;
	font-size: 36px;
	font-weight: 200;
}
.infoSubhead {
	color: #ffffff;
	font-size: 28px;
	font-weight: 200;
	margin-top: 12px;
}
.infoText {
	color: #ffffff;
	font-size: 22px;
	line-height: 28px;
	font-weight: 200;
	margin-top: 5px;
}
.charts {
}
.chart {
	margin-top: 5px;
	vertical-align: top;
	display:inline-block;
	stroke: #ffffff;
	color: #ffffff;
	font-size: 21px;
	font-weight: 200;
	margin-right: 15px;
}
.chart-title {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chart-title a {
	color: #fff;
	text-decoration: none;
}

.chart-title a:hover {
	text-decoration: underline;
}

.chartDesc{
	font-size: 16px;
	line-height: 19px;
	font-weight: 200;
	margin-top: 8px;

}

.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 10000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}
.cbp-af-header img {
    float: left;
    margin: 4em .8em 0 0;
    max-width: 80px;
    transition: all 0.3s;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}

.cbp-af-header.cbp-af-header-shrink img {
	margin: .8em .8em 0 0;
   max-width: 50px;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
